.form-design {
  display: flex;
  gap: 1em;

  .item {
    padding: 0.5em;
    background: var(--body-bg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .ibtns {
      animation: downdisplay 0.3s;
      display: none;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }

  .item.active {
    border: 1px solid var(--theme-dark);

    .ibtns {
      display: flex;
    }
  }

  .left {
    flex: 0 0 200px;
    padding: 1em;
    background: var(--background-color);
    display: flex;
    flex-flow: column;
    gap: 1em;
  }

  .center {
    flex: 1;
    background: var(--background-color);

    .layout {
      width: 100%;
      user-select: none;

      .react-grid-item:not(.react-resizable-hide) {
        z-index: 3;
      }
    }
  }

  .right {
    flex: 0 0 400px;
    padding: 1em;
    background: var(--background-color);
  }
}
