:root {
  --color: #213547;
  --color-light: #5b6c82;
  --color-anti: #ffffff;
  --body-bg: #ffffff;
  --box-shadow: #c8c8c8;
  --border: #c8c8c8;
  --background-color: #f0f0f0;

  --theme-dark: #4096ff;
  --theme-dark-active: #6eafff;
  --theme-light: #eff8ff;
  --theme-light-active: #dcf0ff;

  --danger: red;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--body-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  background: var(--background-color);
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  background: var(--border);
  background-clip: padding-box;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 上升隐藏 */
@keyframes uphide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* 下降显示 */
@keyframes downdisplay {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
